---
- name: "Installation Apache"
  hosts: client1
  become: true
  vars_files:
    - files/secrets/credentials.yml
  vars:
    ansible_sudo_pass: "{{ vault_ansible_password }}"
  tasks:
    - name: "Installation du Package httpd"
      yum: 
        name: "httpd" 
        state: "present"

    - name: "Démarrage du service apache"
      service:
        name: "httpd"
        state: "started"
        enabled: yes

    - name: "Allow http connections"
      firewalld:
        service: "http"
        permanent: yes
        state: "enabled"

    - name: "Copie du fichier de configuration httpd"
      copy: 
        src: "/etc/ansible/files/ssl.conf" 
        dest: "/etc/httpd/conf.d/http_bk.conf"
        owner: "apache"
        group: "apache"
        mode: 0644

    - name: "Creation d'utilisateur"
      user:
        name: "{{ item }}"    
        state: present

      loop:
        - bk
        - bk2
        - bk3  
          
    - name: "Installation prérequis paquets"
      package:
        name: "{{ item }}"
        state: present
      when: ansible_distribution == "Fedora"
      loop:
        - telnet
        - wget
        - vim    
          
    - name: "copie de la template pour test"
      template:
        src: templates.j2
        dest: /tmp/test-template.txt      
        mode: 0644



#      notify:
#      - Restart apache

#      handlers:
#        - name: restart apache
#          service: 
#            name: httpd 
#            state: restarted

